version: '3'

services:
  database-service:
    image: postgres:12
    container_name: app-database
    environment:
      - POSTGRES_DB=reactnest
      - POSTGRES_DB_TEST=reactnest_test
      - POSTGRES_USER=reactnest_user
      - POSTGRES_PASSWORD=123456
    ports:
      - '5432:5432'
    expose:
      - '5432'
    volumes:
      - ./database/docker-data/postgres:/var/lib/postgresql/data
      # - ./database/schema.sql:/docker-entrypoint-initdb.d/0.schema.sql
      #- ./database/initial-data.sql:/docker-entrypoint-initdb.d/1.data.sql

  api-service:
    build:
      context: ./api
      dockerfile: Dockerfile
    working_dir: /api
    container_name: app-api
    volumes:
      - ./api:/api
    command: sh -c "npm run start:dev"
    ports:
      - '8000:8000'
    expose:
      - '5432'
    env_file: ./api/.env
    depends_on:
      - database-service
